<%- include('../layouts/adminHeader.ejs') %>

    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- Include SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <!-- <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div> -->
                    <datalist id="search_terms">
                        <option value="Products">
                       
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
             
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/adminAssets/imgs/people/avatar5.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                  
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title ">Edit Brand</h2>
                    <!-- <p>Add Brand</p> -->
                </div>
                <!-- <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div> -->
            </div>
            <div class="card ">
                <div class="card-body ">
                    <div class="row ">
                        <form  method="post">
                        <div class="col-md-3">        
                                <div class="mb-4">
                                    <label for="brandName" class="form-label">Brand Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" value="<%=brand.brandName%>" name="brandName" id="brandName" required/>
                                </div>
                                <span id="error-message" class="text-danger"></span>
                
                                <div class="d-grid">
                                    <button type="button" class="btn btn-primary" onclick="createBrand('<%=brand._id%>')">Edit Brand</button>
                                </div>
                          
                        </div>
                    </form>
                      
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
        </div>
    </footer>
</main>
<script>
    function createBrand(brandId){
        const nameInput = document.getElementById('brandName');
         const isAlphabetic = /^[a-zA-Z\s]+$/g.test(nameInput.value);

    if (  !isAlphabetic || nameInput.value.length > 20) {
        nameInput.setCustomValidity("Invalid brand name. Please check the requirements.");
        document.getElementById('error-message').textContent = "Invalid brand name. Please check the requirements.";
        return;
        
    } else if (nameInput.value.trim() === '') {     
        document.getElementById('error-message').textContent = "Invalid brand name. Please check the requirements.";
        return ;
      }
    else {
        nameInput.setCustomValidity(""); // No validation error
        document.getElementById('error-message').textContent = ""; // Clear the error message
    }
    const requestData = {
            brandName: nameInput.value,
        };
        const brandid = brandId

console.log(requestData,"requestData");
        fetch('/admin/edited_brand', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({requestData,brandid})
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
              Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Brand created',
                        showConfirmButton: false,
                        timer: 1000
                    });
                    location.href = '/admin/brand';

            } else{
                Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1000
                    });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
</script>
<script src="/public/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/public/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/public/adminAssets/js/vendors/select2.min.js"></script>
<script src="/public/adminAssets/js/vendors/perfect-scrollbar.js"></script>
<script src="/public/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/public/adminAssets/js/vendors/chart.js"></script>
   <!-- Main Script -->
   <script src="/public/adminAssets/js/main.js" type="text/javascript"></script>
   <script src="/public/adminAssets/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>